---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;
$link-color: black;

@import "minimal-mistakes/skins/contrast"; // skin
@import "minimal-mistakes"; // main partials
